<% layout('layouts/representative_boilerplate') %>

    <div class="container mt-4">
        <h1 class="mb-4">Representative Clinic Edit 🦷</h1>

        <%- include('../partials/clinic_profile', { clinic: clinic, id: id }) %>
    </div>