<% layout('layouts/representative_boilerplate') %>

    <h1>Add Representative</h1>
    <!-- enctype="multipart/form-data" -->
    <form action="/representative" method="post" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="representativeName" class="form-label">Representative name</label>
            <input type="text" class="form-control" id="representativeName" name="representative[name]" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label for="representativeNumber" class="form-label">Resentative Number</label>
            <input type="number" class="form-control" id="representativeNumber" name="representative[phone]" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <button class="btn btn-outline-success  mb-2">Sub</button>
    </form>